@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root {
  --orange-pink-gradient: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --radial-gradient: radial-gradient(
    circle,
    rgba(251, 63, 63, 0.8575805322128851) 0%,
    rgba(252, 149, 70, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Signika Negative', sans-serif;
}

.container {
  margin: 0 auto;
}

#header {
  background: url(../../assets/image/Old\ Library\ Wallpaper.jpg) fixed center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header h1 {
  font-size: 90px;
  color: rgb(255, 255, 255);
  background-color: rgba(70, 70, 70, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 10px 20px;
}

.hdr-button {
  width: 250px;
  height: 70px;
  margin-top: 100px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: rgb(255, 174, 0);
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.hdr-button:hover {
  /* transform: scale(1.05); */
  color: rgb(255, 238, 0);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 2px solid rgb(255, 238, 0);
}

.hdr-button:active {
  transform: scale(1.05);
  color: rgb(60, 255, 0);
  background: none;
  border: 2px solid rgb(60, 255, 0);
}

/* -------------------------- Main Heading -------------------------- */

main {
  position: relative;
  background: var(--radial-gradient);
}

.main-heading {
  background: rgba(119, 119, 119, 0.541);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 220px;
  z-index: 5;
  position: sticky;
  top: 0;
  left: 0;
}

#catalog {
  color: white;
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart:hover .drop-down {
  visibility: visible;
}

.cart > img {
  width: 45px;
  margin-left: 15px;
}

.cart > p {
  position: absolute;
  right: 18px;
  top: 30px;
  color: rgb(255, 0, 0);
}

.drop-down {
  position: absolute;
  top: 100%;
  left: -30%; /* -25% */
  height: 600px;
  width: 300px; /* 250px */
  background: linear-gradient(to bottom right, #272727fa, #5a5a5ae0);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 10px;
  padding: 5px;
  visibility: hidden;
  cursor: auto;
}

.drop-down-text-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-text-area > button {
  width: 90%;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: rgb(255, 174, 0);
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  /* transition: 0.3s; */
  margin-top: 3px;
}

.drop-down-text-area > button:hover {
  color: rgb(255, 238, 0);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 2px solid rgb(255, 238, 0);
}

.drop-down-text-area > button:active {
  transform: scale(1.02);
  color: rgb(60, 255, 0);
  background: none;
  border: 2px solid rgb(60, 255, 0);
}

.drop-down-total {
  font-size: 20px;
  color: white;
}

.cart-books-list {
  width: 100%;
  height: 525px;
  background: var(--orange-pink-gradient);
  margin-bottom: 5px;
  border-radius: 5px;
  overflow-y: scroll;
  position: relative;
  padding: 3px;
  display: flex;

  flex-direction: column;
  gap: 10px 0;
}

.cart-books-list::-webkit-scrollbar {
  width: 10px;
}

.cart-books-list::-webkit-scrollbar-thumb {
  background: rgb(105, 79, 58);
  border-radius: 5px;
}

.cart-books-list::-webkit-scrollbar-track {
  background: #a09c97;
  border-radius: 5px;
}

/* -------------------------- Cart List added -------------------------- */

.listed-book {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 5px;
  background: linear-gradient(to bottom right, #272727be, #5f5f5f6c);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 5px;
}

.cart-book-img {
  display: flex;
}

.cart-book-img > img {
  height: 120px;
  width: auto;
  border-radius: 10px;
}

.cart-book-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-book-info h5 {
  font-size: 14px;
  color: rgb(255, 238, 0);
}

.cart-book-info:nth-child(2) {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.book-remover {
  font-size: 16px;
  font-weight: 600;
  color: rgb(175, 1, 1);
  align-self: flex-end;
  cursor: pointer;
}

/* -------------------------- Cards List -------------------------- */

.description {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.65);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 5;
}

.description.visible {
  visibility: visible;
}

.description p {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  width: 700px;
  min-height: 400px;
  font-size: 25px;
  padding: 30px;
}

.cards-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 150px 200px 0;
  padding-bottom: 150px;
  row-gap: 80px;
  column-gap: 80px;
}

.card-arrange {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 rgba(43, 43, 43, 0.89);
  background: linear-gradient(to bottom right, #272727be, #5f5f5f6c);
  backdrop-filter: blur(5px);
  padding: 25px;
  overflow: hidden;
}

.card-img-div img {
  width: 280px;
  height: 100%;
  border-radius: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 30px 10px;
  color: white;
  width: 200px;
}

.card-info h3 {
  font-size: 25px;
}

.card-info h2 {
  font-size: 30px;
  color: rgb(255, 174, 0);
}

.card-info p {
  font-size: 20px;
}

.card-description {
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
}

.card-description:hover {
  color: rgb(243, 243, 5);
}

.card-arrange button {
  align-self: flex-end;
  width: 100px;
  height: 30px;
  background: rgb(255, 174, 0);
  border: 2px solid rgb(255, 174, 0);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.card-arrange button:hover {
  border: 2px solid rgb(243, 243, 5);
  color: rgb(243, 243, 5);
  background: none;
}

.card-arrange button:active {
  border: 2px solid rgb(5, 243, 76);
  color: rgb(5, 243, 76);
  background: none;
}

/* -------------------------- Footer -------------------------- */

.footer {
  height: 80px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer div h2 {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.footer div p {
  font-size: 20px;
  color: white;
}
